{% block extraheaders %}
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/admin-extra.css' %}">
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{{ form.media }}
{% endblock %}

<form action="" method="get">
    {% csrf_token %}
    <div class="well" style="background-color:darkgrey; color:black;">
      <div class="row">
        <div class="col-lg-3 well-row"><h4>Rep List - Filters</h4></div>
        <div class="col-lg-3 well-row" style="padding-left:60px;">
            {{ form.year.label_tag }}
            {{ form.year }}
        </div>
        <div class="col-lg-6 well-row" style="padding-left:100px;">
          {{ form.composer.label_tag }}
          {{ form.composer }}
        </div>
        <div class="col-lg-2 well-row" style="padding-bottom:0.7rem;">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Filter
            </button>
        </div>
        <div class="col-lg-4 well-row" style="padding-left:105px;">
          <label for="{{ form.era.name }}" style="line-height:34px;">{{ form.era.label }}:</label>
          {{ form.era }}
        </div>
        <div class="col-lg-6 well-row" style="padding-left:142px;">
          <label for="{{ form.org.name }}" style="line-height:34px;">{{ form.org.label }}:</label>
          {{ form.org }}
        </div>
        
      </div>
      
    </div>
  </form>