{% block extraheaders %}
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/admin-extra.css' %}">
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{{ form.media }}
{% endblock %}

<form class="d-none d-lg-block" action="" method="get">
    {% csrf_token %}
    <div class="well" style="background-color:darkgrey; color:black;">
      <div class="row">
        <div class="col-lg-2 well-row"><h4>Rep Filters</h4></div>
        <div class="col-lg-2 well-row">
            {{ form.year.label_tag }}
            {{ form.year }}
        </div>
        <div class="col-lg-3 well-row" style="padding-left:45px; padding-right:10px;">
          <label for="{{ form.formg.name }}" style="line-height:34px;">Form:</label>
          {{ form.formg }}
        </div>
        <div class="col-lg-5 well-row" style="padding-left:65px;">
          {{ form.composer.label_tag }}
          {{ form.composer }}
        </div>
        <div class="col-lg-2 well-row" style="padding-bottom:0.4rem;">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Filter
            </button>
        </div>
        <div class="col-lg-2 well-row">
          <span style="padding-right:5px;">Voicing:</span>
          {{ form.voicing }}
        </div>
        <div class="col-lg-3 well-row" style="padding-left:59px;">
          <label for="{{ form.era.name }}" style="line-height:34px;">{{ form.era.label }}:</label>
          {{ form.era }}
        </div>
        <div class="col-lg-5 well-row" style="padding-left:110px;">
          <label for="{{ form.org.name }}" style="line-height:34px;">{{ form.org.label }}:</label>
          {{ form.org }}
        </div>
      </div>
    </div>
</form>

<form class="d-lg-none" action="" method="get">
    {% csrf_token %}
    <h4 class="filter-row">Rep List - Filters</h4>
    <table id="filtertable" class="table" style="margin-bottom:0px;">
      <tbody>
        <tr>
          <td>Voicing:</td>
          <td>{{ form.voicing }}</td>
        </tr>
        <tr>
          <td><label for="{{ form.org.name }}" style="line-height:34px;">{{ form.org.label }}:</label></td>
          <td>{{ form.org }}</td>
        </tr>
        <tr>
          <td>{{ form.composer.label_tag }}</td>
          <td>{{ form.composer }}</td>
        </tr>
          <tr>
          <td>Form:</td>
          <td>{{ form.formg }}</td>
        </tr>
        <tr>
          <td><label for="{{ form.era.name }}" style="line-height:34px;">{{ form.era.label }}:</label></td>
          <td>{{ form.era }}</td>
        </tr>
        <tr>
          <td>{{ form.year.label_tag }}</td>
          <td>{{ form.year }}</td>
        </tr>
      </tbody>
    </table>
    <div style="padding-left:15px; margin-top:0px; margin-bottom:10px;">
        <button type="submit" class="btn btn-primary" style="padding-top:0rem; padding-bottom:0rem;">
            <span class="glyphicon glyphicon-search"></span>Filter
        </button>
    </div>
</form>