{% block extraheaders %}
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/admin-extra.css' %}">
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{{ form.media }}
{% endblock %}

<form action="" method="get">
    {% csrf_token %}
    <div class="well" style="background-color:darkgrey; color:black;">
      <div class="row">
        <div class="col-md-3"><h4 style="margin-top: 0">Rep List - Filters</h4></div>
        <div class="col-md-3">
            {{ form.year.label_tag }}
            {{ form.year }}
        </div>
        <div class="form-group col-md-6" style="text-align:right;">
          {{ form.composer.label_tag }}
          {{ form.composer }}
        </div>
        <div class="col-md-1" style="vertical-align:middle;">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Filter
            </button>
        </div>
        <div class="form-group col-md-4" style="text-align:right; vertical-align:middle;">
          {{ form.era.label_tag }}
          {{ form.era }}
        </div>
        <div class="form-group col-md-7" style="text-align:right; vertical-align:middle;">
          {{ form.organization.label_tag }}
          {{ form.organization }}
        </div>
        
      </div>
      
    </div>
  </form>