################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config/configstore
/Django_SingingCV/env
*.log
*.pot
*.pyc
*/__pycache__
env
__pycache__
local_settings.py