################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config/configstore
/Django_SingingCV/env
*.log
*.pot
*.pyc
*.pyproj
*.pyproj.user
*/__pycache__
.vs
env
__pycache__
local_settings.py