django==2.2.24
pytz==2018.5
setuptools==39.0.1
django-autocomplete-light==3.3.2
sqlparse==0.2.4
django-debug-toolbar==1.10.1
psycopg2-binary==2.7.6.1
whitenoise==4.1.2
django-heroku==0.3.1
gunicorn==19.9.0
Unidecode==1.0.23