.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.headshot {
    float: right;
    padding-right: 20;
    padding-top: 20;
    display: block;
    height: 25px;
    width: 25px;
}
