
<!DOCTYPE html>
<html>
<head>
    <title>PeterLifland.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo:600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'app/scripts/bootstrap.min.js' %}"></script>

    <style>
	    body {font-family: "Lato", sans-serif}
    </style> 
    {% block extraheaders %}{% endblock %}
</head>

<body style="background-color:black" {% block bodyargs %}{% endblock %}>

<!-- Bootstrap -->
<div style="margin-top:20px;">
<nav class="navbar navbar-expand-lg navbar-dark">
    <span class="navbar-brand" style="margin-left:150px; font-weight: bold; letter-spacing: 4px;"><span style="color: tan">PETER</span> LIFLAND</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {% if nbar == 'home' %}active{% endif %}">
        <a href="{% url 'home' %}" class="nav-link">HOME</a>
        </li>
        <li class="nav-item {% if nbar == 'recordings' %}active{% endif %}">
        <a href="{% url 'recordings' %}" class="nav-link">RECORDINGS</a>
        </li>
        <li class="nav-item {% if nbar == 'bio' %}active{% endif %}">
        <a href="{% url 'bio' %}" class="nav-link">BIO</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown {% if nbar == 'vocalcv' or nbar == 'vocalcv_about' %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              VOCAL CV
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'replist' %}">Repertoire List</a>
              <a class="dropdown-item" href="{% url 'performances' %}">Performances</a>
              <a class="dropdown-item {% if nbar == 'vocalcv_about' %}active{% endif %}" href="{% url 'vocalcv' %}">About</a>
            </div>
        </li>
        {% else %}    
        <li class="nav-item {% if nbar == 'vocalcv' %}active{% endif %}">
        <a href="{% url 'guestlogin' %}" class="nav-link">VOCAL CV</a>
        </li>
        {% endif %}
        <li class="nav-item {% if nbar == 'contact' %}active{% endif %}">
        <a href="{% url 'contact' %}" class="nav-link" style="margin-right:150px;">CONTACT</a>
        </li>
    </ul>
    </div>
</nav>
</div>

<!-- Page content -->
<div class="w3-content w3-black" style="margin-left:120px;">
    {% block content %}{% endblock %}
</div>
<!-- End Page Content -->

<!-- Footer -->
<footer class="w3-container w3-black w3-padding-32 w3-center w3-xlarge" style="max-width:1220px;">
  <!--<i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>-->
  <div style="font-size:40%;">
    {% if not user.is_authenticated %}
    Need to administer? <a href="{% url 'login' %}?next={{request.path}}">Login!</a>
    {% else %}
    <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    {% endif %} 
  </div>
</footer>

</body>
</html>
