{% extends "base_generic.html" %}

{% block content %}

<!-- The Contact Section -->
<div class="w3-row w3-padding-32">
	<img src="{{ MEDIA_URL }}byrdpic1.jpg" alt="" style="max-width:60%; float:left; height: auto; object-fit:contain; margin-right:15px; padding-top:10px;" />
    <div class="w3-medium" style="padding-top:10px;">
    <p>
        Peter Lifland, bass, has sung with several high-caliber choirs over the past decade, including the Tudor Choir, the Byrd Ensemble, Seattle Pro Musica, and the Harvard Glee Club.
        Recently transplanted from Seattle to New Haven, Peter is currently singing with the Yale Camerata, where he serves as a TB vocal coach, and for Yale graduate conducting courses including the Yale Repertory Chorus and Yale Recital Chorus.
    </p><p>
        In Seattle, Peter sang with Seattle Pro Musica from 2010 to 2018 and served as its bass section leader for the 2017-2018 season.
        Additionally, Peter sang for a number of professional chamber choirs, including the Tudor Choir, the Byrd Ensemble, Solaris (UW), and Vox16.
        Before moving to Seattle, Peter sang in the Harvard Glee Club and Harvard-Radcliffe Collegium Musicum and conducted the a cappella group Harvard Glee Club Lite.
    </p>
    </div>
    <div class="w3-medium" style="float:left; max-width:60%; object-fit:contain; padding-right:15px;">
    <p style="margin-top:0px;">
        Throughout his singing career, Peter has been honored to work with world-class conductors, including Anne Tomlinson, Jameson Marvin, Karen P Thomas, Giselle Wyers, and most recently Maggie Brooks.
        Peter's notable recent discography includes
            cds with Vox16 (<a href="https://www.vox16.com/cd-locally-sourced">Locally Sourced</a> and <a href="https://store.cdbaby.com/cd/vox16">What Cheer</a>)
            and Seattle Pro Musica (<a href="http://www.seattlepromusica.org/cd-store/northern-lights">Northern Lights</a> and <a href="http://www.seattlepromusica.org/cd-store/celtic-christmas">Celtic Christmas</a>).
    </p><p>
        Last and certainly least, amusing highlights of Peter's singing career include winning a Grammy for "Best New Age Album" in 2015 when he sang bass vocals for the a single track
        and singing in the choirs for the traveling tours of Josh Groban and Andrea Bocelli when they visited Seattle.
    </p><p>
        When he is not singing, Peter spends time with his wife Brooke, works as a data analyst for Microsoft, and maintains a moderate board game collection.
    </p>
    </div>
    <img src="{{ MEDIA_URL }}rc4_cropped.jpg" alt="" style="max-width:40%; float:right; height: auto; object-fit:contain; padding-top:0px;" />
</div>

  
{% endblock %}