{% extends "base_generic.html" %}

{% block content %}

<!-- The Contact Section -->
<div class="w3-row w3-padding-32">
	<img src="{{ MEDIA_URL }}byrdpic1.jpg" alt="" style="max-width:60%; float:left; height: auto; object-fit:contain; margin-right:15px; padding-top:10px;" />
    <p class="w3-medium">
        Peter Lifland, bass, has sung with several high-caliber choirs over the past decade, including the Tudor Choir, the Byrd Ensemble, Seattle Pro Musica, and the Harvard Glee Club.
        Recently transplanted from Seattle to New Haven, Peter is currently singing with the Yale Camerata, where he serves as a TB vocal coach, and for some of the graduate conducting courses including the Yale Repertory Chorus and Yale Recital Chorus.
    </p><p class="w3-medium">
        In Seattle, Peter sang with Seattle Pro Musica since moving to Washington in 2010 and served as its Bass section leader for the 2017-2018 season.
        Additionally, Peter sang for a number of professional chamber choirs, including the Tudor Choir, the Byrd Ensemble, Solaris (UW), and Vox16.
        Before moving to Seattle, Peter sang under Jameson Marvin in the Harvard Glee Club and Harvard-Radcliffe Collegium Musicum and he conducted the a cappella group Harvard Glee Club Lite.
    </p><p class="w3-medium">
        When he is not singing, Peter spends time in Redmond with his wife Brooke, works as a data analyst for Microsoft, and maintains a moderate board game collection.
    </p>
</div>

  
{% endblock %}