{% extends "base_generic.html" %}

{% block content %}

<!-- The Contact Section -->
<div class="w3-row">
	<div class="w3-col m6" style="padding-top:60px;">
		<h2 class="w3-wide w3-center w3-margin-bottom">CONTACT</h2>
		<div class="w3-center w3-margin-bottom" style="padding-right:15px;">
			<i class="fa fa-map-marker" style="width:30px"></i> New Haven, CT<br>
		</div>
        {% if messages %}
            {% for message in messages %}
                <p class="w3-center {% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
            {% endfor %}
        {% else %}
        <p class="w3-opacity w3-center"><i>Want to get in touch? Send a mail!</i></p>
		<div class="w3-row w3-center">
			<form action="" method="post">
                {% csrf_token %}
				<div class="w3-row-padding" style="margin:0 -16px 8px -16px">
				<div class="w3-half">
					<input class="w3-input w3-border" type="text" placeholder="Your name" required name="contact_name">
				</div>
				<div class="w3-half">
					<input class="w3-input w3-border" type="text" placeholder="Your email" required name="contact_email">
				</div>
				</div>
				<textarea class="w3-input w3-border" style="height:240px;" cols="256" rows="10" type="text" placeholder="Message" required name="content"></textarea>
				<button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
			</form>
		</div>
        {% endif %}
	</div>
	<div class="w3-col m6">
		<div class="w3-content w3-center" style="max-width:400px">
			<img src="{{ MEDIA_URL }}standing_solo.jpg" alt="" style="max-width:100%; height: auto; object-fit:contain;" />
		</div>
	</div>
</div>  
{% endblock %}