{% extends "base_generic.html" %}

{% block content %}
<!-- Image du jour -->
<div class="w3-content w3-center w3-greyscale-min" style="max-width:1050px">
	<img src="{{ MEDIA_URL }}groomsmen.jpg" alt="" style="max-width:100%; height: auto; object-fit:contain;" />
</div>
	
<div class="w3-content"
	style="position:absolute; left:750px; top:380px;
		border:5px solid tan; border-radius:10px; padding:5px 15px; background:rgba(0,0,0,0.65);">
	<div class="" style="font-size:180%; font-weight:bold; margin-bottom: 10px;" float="both">Upcoming Performances</div>
    
    {% for prf in upcoming %}
    <div style="margin-bottom:10px; height: 65px;">
		<div class="" align="center"
			style="background: rgba(210,180,140,1); display:inline-block; padding:5px 5px 2px 5px;
					height:65px; width:65px;">
			<span style="font-size:140%; letter-spacing:2px; font-weight:bold; line-height:0.8em;">{{ prf.date|date:"b"|upper }}</span><br />
			<span style="font-size:260%; font-weight:bold; line-height:0.8em;">{{ prf.date|date:"d" }}</span>
		</div>
		<div style="display:inline-block; height:65px; margin-left: 10px;">
			<p style="font-size:140%; margin:0px; line-height:1em; margin-bottom:3px;">{{ prf.performance.name }}</p>
			<p style="margin:0px; line-height:1em; margin-bottom:1px; max-width:280px; max-height:17px; overflow: hidden;">{% for org in prf.organizations.all %}{{ org.organization.name }} - {% for con in org.conductors.all %}{{ con.person.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endfor %}</p>
			<p style="margin:0px; line-height:1em;">{{ prf.venue }}, {{ prf.city }}</p>
		</div>
	</div>
    {% endfor %}
</div>

{% endblock %}