{% extends "base_generic.html" %}

{% block content %}
<div class="w3-container w3-content" style="max-width:1200px; padding:64px 64px 0px 64px;" id="orglist">
<div class="w3-row w3-padding-32">
    <div class="w3-col m6" style="padding-top:60px;">
    <h1>Organization List</h1>

    {% if organization_list %}
    <ul>

      {% for organization in organization_list %}
      <li>
        <a href="{{ organization.get_absolute_url }}">{{ organization.name }}</a> ({{organization.conductor}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No organizations found</p>
    {% endif %}
    </div>
</div>
</div>
{% endblock %}