{% extends "base_generic.html" %}

{% block content %}
<div class="w3-row">

<div id="perfpicker" class="w3-col m5 d-md-block {% if pi %} d-none {% endif %}" style="padding-right:32px;">
  <h1>Concerts</h1>
  <h4>
      <span style="display:inline-block; padding-bottom:5px;">
      {% for yr in years %}
        {% if forloop.counter < 6 %}
            {% if yr == year_selected %}<span style="font-size:125%">{{ yr }}</span>
            {% else %}<a href="{% url 'performances' y=yr %}">{{ yr }}</a>
            {% endif %}
            {% if not forloop.counter == 5 %} | {% else %}</span><br /><span style="font-size:60%">{% endif %}
        {% else %}
            {% if yr == year_selected %}<span style="font-size:140%">{{ yr }}</span>
            {% else %}<a href="{% url 'performances' y=yr %}">{{ yr }}</a>
            {% endif %}
            {% if not forloop.counter|add:"3"|divisibleby:8 and not forloop.last %} | {% else %}<br />{% endif %}
        {% endif %}
      {% endfor %}
      </span>
  </h4>

    <ul class="list-group">
        {% regroup performanceinstances|dictsort:"performance.name" by performance.name as p_list %}
        {% for name, perf_list in p_list %}
        <li class="list-group-item" style="background-color:black; margin-top:-1px; margin-left:-1px; margin-right:-1px; border:none;">
        <a href="{% url 'performances-specific' y=year_selected pk=perf_list.0.performance.pk pi=perf_list.0.pk  %}"><div class="large-dataheader" style="line-height:100%">{{ name }}</div>{% for org in perf_list.0.organizations.all %}<div class="small-subdata">{{ org.organization.name }}</div>{% endfor %}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% if pi %}
<div class="w3-col m7" id="perfdetails" style="padding-left:32px;">
    <h1>Performance Details</h1>

    <h3>{{ performance_specific.name }}</h3>
    
    <div class="w3-bar w3-black w3-card">
    <a href="#" onclick="showperformancepiecesall({{ performance_specific.pk }});return false;" class="w3-bar-item w3-button">All</a>
    {% for pi in performanceinstances_specific %}
    <a href="#" onclick="showperformancepieces({{ pi.pk }});return false;" class="w3-bar-item w3-button">{{ pi.date }}</a>
    {% endfor %}
    </div>

    <script>
        function showperformancepieces(pk) {
            pk = pk
            $.ajax({
                url: 'performance-pieces/' + pk,
                success: function (data) {
                    $('#perfpieces').html(data);
                }
            });
        }

        function showperformancepiecesall(pk) {
            pk = pk
            $.ajax({
                url: 'performance-pieces-all/' + pk,
                success: function (data) {
                    $('#perfpieces').html(data);
                }
            });
        }
    </script>

    <div id="perfpieces" style="">
        <div>
            <table>
            {% for org, perf_p in pieces.items %}
                <tr><td colspan="2" style="padding-top:10px; padding-bottom:10px; color:white; font-size:140%;"><a href="{% url 'organization-detail-name' pk=org %}">{{ org }}</a></td></tr>
                {% for pk,p in perf_p.items %}
                <tr>
                    <td style="padding-left:15px; padding-right:10px; padding-bottom:10px; color:white; margin-bottom:10px; width:50px;">
                        <a href="{% url 'replist' %}?composer={{ p.composition.composer }}">{{ p.composition.composer.person.lastname }}</a>
                        {% if not p.composition.composer %}Anon.{% endif %}
                        {% if p.composition.arranger %}<div class="small-subdata"><a href="{% url 'replist' %}?composer={{ p.composition.arranger }}">arr. {{ p.composition.arranger.person.lastname }}</a></div>{% endif %}
                    </td>
                    <td class="trimtitle" style="padding-bottom:10px; color:white;"><a href="{% url 'composition-detail' pk=p.composition.id %}">{{ p.composition.title }}</a></td>
                </tr>
                {% endfor %}
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}

</div>
{% endblock %}