<div>
    <table>
    {% for org, perf_p in pieces.items %}
        <tr><td colspan="2" style="padding-top:10px; padding-bottom:10px; color:white; font-size:140%;"><a href="{% url 'organization-detail-name' pk=org %}">{{ org }}</a></td></tr>
        {% for pk,p in perf_p.items %}
        <tr>
            <td style="padding-left:15px; padding-right:10px; padding-bottom:10px; color:white; margin-bottom:10px; width:50px;">
                <a href="{% url 'replist' %}?composer={{ p.composition.composer }}">{{ p.composition.composer.person.lastname }}</a>
                {% if not p.composition.composer %}Anon.{% endif %}
                {% if p.composition.arranger %}<div class="small-subdata"><a href="{% url 'replist' %}?composer={{ p.composition.arranger }}">arr. {{ p.composition.arranger.person.lastname }}</a></div>{% endif %}
            </td>
            <td class="trimtitle" style="padding-bottom:10px; color:white;"><a href="{% url 'composition-detail' pk=p.composition.id %}">{{ p.composition.title }}</a></td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
</div>