{% extends "base_generic.html" %}

{% block bodyargs %}
{% if pk is not null %}onload="showperformancedetails({{ pk }}); showperformancepieces({{ pi }});"{% endif %}
{% endblock %}

{% block content %}
<div class="w3-row">

<div class="w3-col m5" style="padding-right:32px;">
  <h1>Performance List</h1>
  
  {% regroup performanceinstances by date|date:"Y" as pi_lists %}
  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true" style="padding-top:2px;">
    <!-- Card : each card is a year -->
    {% for date, pi_list in pi_lists %}
    <div style="border-bottom:1px solid">
      
      <!-- Card header : years -->
      <div class="card-header" role="tab" id="heading{{ date }}">
        <a data-toggle="collapse" class="collapsed" href="#collapse{{ date }}" aria-expanded="false" aria-controls="collapse{{ date }}">
          <h5 class="mb-0">{{ date }}<i class="fa fa-angle-down rotate-icon" style="float:right;"></i></h5>
        </a>
      </div>
      <!-- Card header -->

      <!-- Card body : list of performances, ordered by date -->
      {% regroup pi_list|dictsort:"performance.name" by performance.name as p_list %}
      <div id="collapse{{ date }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ date }}" data-parent="#accordionEx">
        <ul class="list-group">
          {% for name, perf_list in p_list %}
          <li class="list-group-item" style="background-color:black; margin-top:-1px; margin-left:-1px; margin-right:-1px; border:none;"
              onclick="showperformancedetails({{ perf_list.0.performance.pk }}); showperformancepiecesall({{ perf_list.0.performance.pk }});">
            <a href="#"><div class="large-dataheader" style="line-height:100%">{{ name }}</div>{% for org in perf_list.0.organizations.all %}<div class="small-subdata">{{ org.organization.name }}</div>{% endfor %}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- Card body -->
    </div>
    {% endfor %}
    <!-- Card -->
  </div>
</div>

<script>
    function showperformancedetails(perfid) {
        document.getElementById("perfdetails").style.visibility = "visible";

        pk = perfid
        $.ajax({
            url: 'performance-detail/' + pk,
            success: function (data) {
                $('#perfdetails').html(data);
            }
        });
    }

    function showperformancepieces(pk) {
            pk = pk
            $.ajax({
                url: 'performance-pieces/' + pk,
                success: function (data) {
                    $('#perfpieces').html(data);
                }
            });
        }

    function showperformancepiecesall(pk) {
        pk = pk
        $.ajax({
            url: 'performance-pieces-all/' + pk,
            success: function (data) {
                $('#perfpieces').html(data);
            }
        });
    }
</script>

<div class="w3-col m7" id="perfdetails" style="padding-left:32px; visibility:hidden;" />

</div>
{% endblock %}