{% extends "base_generic.html" %}

{% block content %}
<h1>Peter Lifland - CV</h1>

<div class="w3-container w3-content" style="max-width:1200px; padding:64px 64px 0px 64px;" id="cvsidebar">
<div class="w3-row w3-padding-32">
	<div class="w3-col m6">
	    <img src='{{ MEDIA_URL }}headshot.jpg' style="max-width:150px;height:auto;margin-top:10px">
	  
        {% block sidebar %}
        <ul class="sidebar-nav">
            <li><a href="{% url 'vocalcv' %}">Home</a></li>
            <li><a href="{% url 'organizations' %}">All organizations</a></li>
            <li><a href="">All conductors</a></li>
            <li><a href="">All composers</a></li>
            <li><a href="">All pieces</a></li>
        </ul>
        {% endblock %}
    </div>
    <div class="w3-col m6" style="padding-top:60px;">
        <p>Welcome to my CV, where I record where and what I sing!</p>
        
        <p>Present organizations:</p>
        <ul>
        {% for organization in activeorgs %}
        <li>{{ organization.organization.name }} - {% for con in organization.conductors.all %}{{ con.person.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endfor %}
        </ul>

        <p>Past organizations:</p>
        <ul>
        {% for organization in inactiveorgs %}
        <li>{{ organization.organization.name }} - {% for con in organization.conductors.all %}{{ con.person.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endfor %}
        </ul>
  
        <p>Fun aggregate stats:</p>
        <ul>
            <li><strong>Organizations:</strong> {{ org_count }}</li>
            <li><strong>Conductors:</strong> {{ conductor_count }}</li>
            <li><strong>Pieces:</strong> {{ piece_count }}</li>
        </ul>
    </div>
</div>
</div>

{% endblock %}