{% extends "base_generic.html" %}

{% block content %}
<h1>Peter Lifland - CV</h1>

  <p>Welcome to my CV, where I record where and what I sing!</p>
  
  <!-- {% for key, item in performancesbyyear.items %}
  <h4 style="margin-top:30px">{{ key }}</h4>
  
  {% for organization in item.organizations %}
  <p>{{ organization }}</p>
  {% endfor %}
  {% endfor %} -->
  
  <!-- p>I have sung:</p>
  <ul>
    <li><strong>Organizations:</strong> {{ num_organizations }}</li>
    <li><strong>Conductors:</strong> {{ num_conductors }}</li>
    <li><strong>Pieces:</strong> {{ num_pieces }}</li>
  </ul> -->

{% endblock %}