{% extends "base_generic.html" %}

{% block content %}
<h1>Peter Lifland - CV</h1>

<div class="w3-row w3-padding-32">
	<div class="w3-col m4" style="padding-left:100px;">
	    <img src='{{ MEDIA_URL }}headshot.jpg' style="max-width:150px;height:auto;margin-top:10px">
	  
        {% block sidebar %}
        <!--<ul class="sidebar-nav">
            <li><a href="{% url 'vocalcv' %}">Home</a></li>
            <li><a href="{% url 'organizations' %}">All organizations</a></li>
            <li><a href="">All conductors</a></li>
            <li><a href="">All composers</a></li>
            <li><a href="">All pieces</a></li>
        </ul>-->
        {% endblock %}
    </div>
    <div class="w3-col m8">
        <p>Welcome to my CV, where I record where and what I sing!</p>
        
        <p>Present organizations:</p>
        <ul>
        {% for organization in activeorgs %}
        <li>{{ organization.organization.name }} - {% for con in organization.conductors.all %}{{ con.person.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endfor %}
        </ul>

        <p>Past organizations:</p>
        <ul>
        {% for organization in inactiveorgs %}
        <li>{{ organization.organization.name }} - {% for con in organization.conductors.all %}{{ con.person.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endfor %}
        </ul>
  
        <p style="padding-top:20px;">Fun aggregate stats</p>
        <table>
            <tr>
                <td style="width:120px;"></td>
                <td style="width:40px; text-align:center;">Me</td>
                <td style="width:40px; text-align:center;">DB</td>
            </tr>
            <tr>
                <td><strong>Organizations:</strong></td>
                <td style="text-align:center;">{{ me_org_count }}</td>
                <td style="text-align:center;">{{ db_org_count }}</td>
            </tr>
            <tr>
                <td><strong>Conductors:</strong></td>
                <td style="text-align:center;">{{ me_conductor_count }}</td>
                <td style="text-align:center;">{{ db_conductor_count }}</td>
            </tr>
            <tr>
                <td><strong>Pieces:</strong></td>
                <td style="text-align:center;">{{ me_piece_count }}</td>
                <td style="text-align:center;">{{ db_piece_count }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}